<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Lists</h1>
  <% if @lists.empty? %>
    <h4>There is no list. <%= link_to 'Create one!', new_list_path %> </h4>
  <% else %>
    <% @lists.each do |list| %>
      <div class="card">
        <div class="card-header">
          <%= link_to "#{list.name}", list %>
        </div>
        <div class="card-body">
          <%= raw(list.tag_list.map { |t| link_to t, tag_path(t), class: 'btn btn-sm btn-secondary' }.join(' ')) %>
        </div>
        <%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
      </div>
      <br>
    <% end %>
  <% end %>

</div>
