<p id="notice"><%= notice %></p>

<p>
  <strong>Desc:</strong>
  <%= @task.desc %>
</p>

<p>
  <strong>Is complete:</strong>
  <%= @task.is_complete %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Attach:</strong>
  <%= @task.attaches %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user %>
</p>

<p>
  <strong>List:</strong>
  <%= @task.list %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
