<div class="container">
<br/>

	<div class="jumbotron">
	  <div class="container">
	    <h2>Joke Of The Day</h2>
	    <p id="joke" class="lead"></p>
	  </div>
	</div>

	<div class="card">
	  <div class="card-header">
	    All Tasks
	  </div>
	  <div class="card-body">
	  	<% if @tasks.empty? %>
	  		<h6>There is no task. <%= link_to 'Create one!', new_list_path %> </h6>
	  	<% else %>
		    <% @tasks.each do |task| %>
					<%= link_to "#{task.desc}", list_path(task.list), class: 'btn btn--sm btn-secondary' %>
				<% end %>
			<% end %>
	  </div>
	</div>

	<br/>

	<div class="card">
	  <div class="card-header">
	    All Lists
	  </div>
	  <div class="card-body">
	  	<% if @tasks.empty? %>
	  		<h6>There is no task. <%= link_to 'Create one!', new_list_path %> </h6>
	  	<% else %>
		    <% @lists.each do |list| %>
					<%= link_to "#{list.name}", list_path(list), class: 'btn btn--sm btn-secondary' %>
				<% end %>
			<% end %>
	  </div>
	</div>

	<br/>

	<div class="card">
	  <div class="card-header">
	    All Tags
	  </div>
	  <div class="card-body">
	  	<% if @tasks.empty? %>
	  		<h6>There is no tags.</h6>
	  	<% else %>
		  	<% @lists.each do |list| %>
		    	<%= raw(list.tag_list.map { |t| link_to t, tag_path(t), class: 'btn btn-sm btn-secondary' }.join(' ')) %>
				<% end %>
			<% end %>
	  </div>
	</div>

<script>
	$(document).ready(function() {
	$.ajax({
		type: "GET",
		url: "https://api.chucknorris.io/jokes/random",
		dataType: "json",
		success: function(data){
			console.log(data)
			$('#joke').append(data.value)
		}
	})
		
	})
</script>