<h1>Home#home</h1>
<p>Find me in app/views/home/home.html.erb</p>

<% if signed_in? %>
<%= current_user.email %>
<% end %>

<% @user = User.find_by(remember_token: session[:remember_token]) %>
<%= @user.username %>

<% if signed_in? %>
signed in!
<% end %>

<div class="container">

	<div class="all-task">
		<h2>All Tasks</h2>
		<% @tasks.each do |task| %>
			<%= link_to "#{task.desc}", list_path(task.list), class: 'btn btn--sm btn-secondary' %>
		<% end %>
	</div>

	<div class="all-list">
		<h2>All Lists</h2>
		<% @lists.each do |list| %>
			<%= link_to "#{list.name}", list_path(list), class: 'btn btn--sm btn-secondary' %>
		<% end %>
	</div>

	<div class="all-tags">
		<h2>All Tags</h2>
		<% @tasks.each do |task| %>
			<%= link_to "#{task.desc}", list_path(task.list), class: 'btn btn--sm btn-secondary' %>
		<% end %>
	</div>
</div>